# Copyright (c) 2025 Hubble Network, Inc.
# SPDX-License-Identifier: Apache-2.0

config HUBBLE_EID_ROTATION_PERIOD_SEC
	int "EID rotation period in seconds"
	default 86400
	range 86400 86400
	help
	  EID rotation period. Currently only daily rotations
	  are supported (86400)

choice HUBBLE_COUNTER_SOURCE
	prompt "Counter source"
	default HUBBLE_COUNTER_SOURCE_UNIX_TIME

config HUBBLE_COUNTER_SOURCE_UNIX_TIME
	bool "Unix time counter source"
	help
	  Counter derived from Unix time. Requires time provisioning.

config HUBBLE_COUNTER_SOURCE_DEVICE_UPTIME
	bool "Device uptime counter source"
	help
	  Counter derived from device uptime. No Unix time required.
	  Initial counter value provided via hubble_init().

endchoice

menuconfig HUBBLE_SAT_NETWORK
	   bool "Hubble Satellite Network Library [PRE-PRODUCTION]"
	   help
		Enable library for communication with Hubble network.
		This feature is in pre-production and is not yet ready
		for production deployments.

if HUBBLE_SAT_NETWORK

config HUBBLE_SAT_NETWORK_SMALL
	   bool "Use smaller code size for fly by calculation"
	   help
		Reduces code using polynomial approximation
		for trigonometric functions

config HUBBLE_SAT_NETWORK_DEVICE_TDR
	   int "Device time drift retry rate in PPM"
	   default 500
	   help
		Adds additional retries proportional to time since
		last time the device had time synced. It is
		represented in PPM (parts per million).

choice
	prompt "Hubble Sat Network protocol"
	default HUBBLE_SAT_NETWORK_PROTOCOL_V1

config HUBBLE_SAT_NETWORK_PROTOCOL_V1
	   bool "Use V1 protocol"
	   help
		First version of Sat protocol. Channel hopping within transmissions.
endchoice

endif

menuconfig HUBBLE_BLE_NETWORK
	   bool "Hubble BLE Network Library"
	   help
		Enable library for communication with Hubble BLE network

choice
	prompt "Hubble Network key size"

config HUBBLE_NETWORK_KEY_256
	   bool "Use 256 bits key size"
	   help
		256 bits key size

config HUBBLE_NETWORK_KEY_128
	   bool "Use 128 bits key size"
	   help
		128 bits key size

endchoice

config HUBBLE_KEY_SIZE
	   int
	   default 32 if HUBBLE_NETWORK_KEY_256
	   default 16 if HUBBLE_NETWORK_KEY_128

config HUBBLE_NETWORK_SECURITY_ENFORCE_NONCE_CHECK
	   bool "Enforce check in nonce used in cryptography"
	   default y
	   help
		Ensure that nonce parameters are not re-used
		to encrypt different messages.
		Be aware that re-using the same nonce has severe
		security implications.

config HUBBLE_NETWORK_SEQUENCE_NONCE_CUSTOM
	   bool "Application defined sequence counter"
	   help
		This option allows applications to override the default
		function that returns a sequence number to be used to
		encrypt messages.
